.img_main_slide{
    width: 100%;
}

.main_slide{
    width: 96%;
    margin-inline: auto;
    border-radius: 0 0 30px 30px;
    overflow: hidden;
}

.wrapper_contain_slide{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.wrapper_contain_slide:after{
    background-image: url('../../public/images/rectangle.png');
    background-size: contain;
    width: 100%;
    content: "";
    height: 100%;
    position: absolute;
    background-repeat: no-repeat;
}

.title_slide{
    position: absolute;
    top: 55%;
    left: 1rem;
    font-family: "Rubik-Bold";
    color: var(--white);
    font-size: 2.3rem;
    z-index: 1;
}

.description_slide{
    position: absolute;
    top: 75%;
    left: 1rem;
    font-family: "Rubik-Regular";
    color: var(--white);
    font-size: 1.3rem;
    z-index: 1;
}

.main_description{
    width: 96%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-block: 1rem
}

.main_description .title{
    font-family: "Rubik-Bold";
    color: var(--blue);
    font-size: 2rem;
}

.main_description .description{
   font-family: "Rubik-Regular";
   font-size: 1rem;
}

.certificaciones{
    margin-bottom: 3rem;
}

.itemCertified{
    width: 96%;
    display: flex;
    margin-inline: auto;
    gap: 5rem;
    align-items: center;
    margin-block: 2rem;
}

.itemCertified > img{
    width: 50%;
}

.contentDscription{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.title{
    font-family: "Rubik-Bold";
    color: var(--blue);
    font-size: 1.5rem;
}

.description{
    font-family: "Rubik-Regular";
    color: var(--black);
    font-size: 1rem;
}

@media (max-width: 1024px) {

    .itemCertified{
        flex-direction: column;
    }
    .itemCertified > img{
        width: 90%;
        margin-inline: auto;
    }
    .contentDscription{
        width: 90%;
        margin-inline: auto;
    }
    .wrapper_contain_slide:after{
        background-size: cover;
        height: 105%;   
    }
    .title_slide{
        position: absolute;
        top: 55%;
        left: 1rem;
        font-family: "Rubik-Bold";
        color: var(--white);
        font-size: 1.5rem;
        z-index: 1;
    }
    
    .description_slide{
        position: absolute;
        top: 75%;
        left: 1rem;
        font-family: "Rubik-Regular";
        color: var(--white);
        font-size: 1rem;
        z-index: 1;
    }
}